<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>

<body>
    
    <div class="container">
        <div class="row">
            

            <%
            var costo = 0
            var precio = 0
            var subtotal = 0
            var kilos = kwConsumidos

            if(tipoConsumo == 1){
                costo = 1.08
                kilos = kilos * 1.08
            }else if(tipoConsumo == 2){
                costo = 2.5
                kilos = kilos * 2.5
            }else if(tipoConsumo == 3){
                kilos = kilos * 3.0
                costo = 3.0
            }

            subtotal = kilos
            impuesto =subtotal*0.16;

            if(kilos < 1000){
                descuento=0.1;
            }else if(kilos >= 1000 && kilos < 10000){
                descuento=0.2;
            }else if(kilos >= 10000){
                descuento=0.5;
            }

            var descontado= subtotal*descuento;
            var total= subtotal+Number(subtotal*0.16)-Number(subtotal*descuento);

            %>

            <div class="col-md-3">
                <h3>Nombre</h3>

            </div>
            <div class="col-md-3">
                <h3>Tipo de consumo</h3>
  
            </div>
            <div class="col-md-3">
                <h3>Kilowatts consumidos</h3>
              
            </div>
            <div class="col-md-3">
                <h3>Costo por Kilowatts</h3>
                

            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-3">
         
                <p><%=nombre%></p>
            </div>
            <div class="col-md-3">
     
                <p><%=tipoConsumo%></p>
            </div>
            <div class="col-md-3">
             
                <p><%=kwConsumidos%></p>
                <p>Subtotal:</p>
                <p>Impuesto:</p>
                <p>Descuento:</p>
                <p>Total a Pagar:</p>
            </div>
            <div class="col-md-3">
     
                <p><%=costo%></p>
                <p><%=subtotal%></p>
                <p><%=impuesto%></p>
                <p><%=descontado%></p>
                <p><%=total%></p>

            </div>

        </div>
    </div>
    
    
    <%-include('partials/footer.html')%>
</body>
</html>
